<div class="proboi">
  <div class="smallboi dark:bg-gray-700">
    <h1 class="number dark:text-white">42</h1>
    <h1 class="award dark:text-white">Awards</h1>
  </div>
  <div class="smallboi dark:bg-gray-700">
    <h1 class="number dark:text-white">5 &#9733;</h1>
    <h1 class="award dark:text-white">Rating</h1>
  </div>
  <div class="smallboi dark:bg-gray-700">
    <h1 class="number dark:text-white">1000+</h1>
    <h1 class="award dark:text-white">Games Sold</h1>
  </div>
  <div class="smallboi dark:bg-gray-700">
    <h1 class="number dark:text-white">100+</h1>
    <h1 class="award dark:text-white">Visitors Each Day</h1>
  </div>
</div>
