---
---

<div class="bosscontainer">
  <div class="container">
    <img src="./images/showcase.png" alt="" class="pic" />
    <h1 class="containerheading">Get Retro Games & Consoles</h1>
    <p class="containerp">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor
      sit amet consectetur, adipisicing elit.
      <br />
    </p>
    <p class="try">Try Now &rarr;</p>
  </div>
</div>
